{% extends "global/base.html" %}

    {% block corpo %}

    

    


    <section id="carousel" class="carousel slide" data-bs-ride="carousel">
        <article class="carousel-inner">
          <figure class="carousel-item active" data-bs-interval="2000">
            <img src="/static/global/img/japao.jpg" class="d-block w-100" alt="..." height="600">
          </figure>
          <figure class="carousel-item" data-bs-interval="2000">
            <img src="/static/global/img//manaus.jpg" class="d-block w-100" alt="..." height="600">
          </figure>
          <figure class="carousel-item" data-bs-interval="2000">
            <img src="/static/global/img//paraiba.jpg" class="d-block w-100" alt="..." height="600">
          </figure>
          <figure class="carousel-item" data-bs-interval="2000">
            <img src="/static/global/img//sanandreas.jpg" class="d-block w-100" alt="..." height="600">
          </figure>
        </article>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <footer class="mt-auto"> <!-- rodapé da página-->
      <div class="footer-copy">
          <p>&copy; 2025 Jornada de Viagens. <br>Todos os direitos reservados. ✈🌎</p>
      </div>
      <div class="footer-contato" id="contato">
          <h2>Contato</h2>
          <p>Email: contato@jornada.com.br</p>
          <p>Telefone: (21)99999-9999</p>
      </div>
      <div class="footer-social">
          <a href="#" target="_blank"><img src="image/facebook.png" width="20"></a>
          <a href="#" target="_blank"><img src="image/instagram.png" width="20"></a>
          <a href="#" target="_blank"><img src="image/whatsapp.png" width="20"></a>
      </div>
  {% endblock corpo %}