{% extends "global/base.html" %}

    {% block formulario %}
    <main>
    <section class="container mt-5 mb-5">
        <form name="teste" method="post" action="{% url "gravar" %}">
            {% csrf_token %}
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" required>
            <label for="idade" class="form-label">Telefone</label>
            <input type="number" name="idade" id="idade" maxlength="11" class="form-control">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <hr> 
            <input type="reset"  class="btn btn-outline-danger" value="Limpar">
            <input type="submit" class="btn btn-outline-success" value="Enviar">   
           
            
        </form>
    </section>
   </main>
   {% endblock formulario %}