{% extends "global/base.html" %}
{% block formulario %}
<div class='container'>
    <table class='table table-bordered table-striped'>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
            <th>email</th>
            <th>Operações</th>
        </tr>
    {% for pessoa in pessoas %}
    <tr>
        <td>{{pessa.id.pessoa}}</td>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.idade}}</td>
        <td>{{pessoa.email}}</td>
        <td>

            <a class="btn btn-success" href= {% url "editar" pessoa.id_pessoa %}>Editar</a>
            <a class="btn btn-warning" href= {% url "apagar" pessoa.id_pessoa %}>Apagar</a>
        </td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock formulario %}
